@media (max-width: 1200px) {
  .container {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 730px;
  }

}

@media (max-width: 786px) {
  .container {
    max-width: 100%;
    padding: 0 25px;
  }

  .header {
    padding: 23px 0 0;
  }

  .header__top {
    margin-bottom: 20px;
  }

  .btn__wrapper {
    display: none;
  }

  .burger {
    display: block;
  }

  .search {
    margin-bottom: 34px;
  }

  .search__btn {
    padding: 10px;
  }

  .search__text {
    display: none;
  }

  .wrapper__content {
    flex-wrap: wrap;
  }

  .list__content {
    --offsets: 1;
  }
}

@media (max-width: 576px) {
  :root {
    --gap: 12px;
  }

  .list__content {
    --offsets: 0;
  }

  .wrapper__content {
    gap: 20px;
  }

  .section__title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .aside {
    max-width: 230px;
  }

  .list__services {
    padding-left: 0;
  }

  .list__services::after {
    margin-top: 2px;
    margin-left: 0;
  }

  .services__icon {
    margin-bottom: 15px;
  }

  .services__title {
    line-height: 5px;
  }
    .product__container {
      flex-wrap: wrap; }
}